<form #enrollForm="ngForm" (ngSubmit)="onSubmit(enrollForm)">

  <!-- Student Name -->
  <label>Name:</label><br>
  <input
    type="text"
    name="studentName"
    ngModel
    required
    minlength="3"
    #nameCtrl="ngModel">

  <div *ngIf="nameCtrl.touched && nameCtrl.errors?.['required']">
    Name is required
  </div>

  <div *ngIf="nameCtrl.touched && nameCtrl.errors?.['minlength']">
    Name must be at least 3 characters
  </div>

  <br><br>

  <!-- Student Email -->
  <label>Email:</label><br>
  <input
    type="email"
    name="studentEmail"
    ngModel
    required
    email
    #emailCtrl="ngModel">

  <div *ngIf="emailCtrl.touched && emailCtrl.errors?.['required']">
    Email is required
  </div>

  <div *ngIf="emailCtrl.touched && emailCtrl.errors?.['email']">
    Invalid email
  </div>

  <br><br>

  <!-- Course ID -->
  <label>Course ID:</label><br>
  <input
    type="number"
    name="courseId"
    ngModel
    required
    #courseCtrl="ngModel">

  <div *ngIf="courseCtrl.touched && courseCtrl.errors?.['required']">
    Course ID is required
  </div>

  <br><br>

  <!-- Semester -->
  <label>Preferred Semester:</label><br>

  <select
    name="preferredSemester"
    ngModel
    required>

    <option value="">Select</option>
    <option value="Odd">Odd</option>
    <option value="Even">Even</option>

  </select>

  <br><br>

  <!-- Agree -->
  <label>
    <input
      type="checkbox"
      name="agreeToTerms"
      ngModel
      required>

    Agree to Terms
  </label>

  <br><br>

  <button type="submit" [disabled]="enrollForm.invalid">
    Submit
  </button>

  <button type="button" (click)="enrollForm.resetForm()">
    Reset
  </button>

</form>

<div *ngIf="submitted">
  ✅ Enrollment request submitted successfully!
</div>
